<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ResearchProject",
  "name": "Theory of Anticipation",
  "description": "Mathematical framework for quantifying engagement and optimizing game design",
  "author": {
    "@type": "Person",
    "name": "Louis Aka",
    "url": "https://akalouis.github.io",
    "sameAs": ["https://github.com/akalouis"]
  },
  "url": "https://akalouis.github.io",
  "mainEntity": {
    "@type": "SoftwareApplication",
    "name": "Theory of Anticipation Framework",
    "applicationCategory": "GameDesignTool",
    "operatingSystem": "Cross-platform",
    "codeRepository": "https://github.com/akalouis/anticipation-theory"
  }
}
</script>